.slide {
  display: flex;
}

.slider__slide {
  width: 1045px;
  position: absolute;
  top: 0;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  &--1,&--2,&--3{
    transition: ease-in-out 1.2s;
  }
  &--current {
    display: block;
  }
}

@keyframes icey {
  0% {
    transform: scale(1);
  }


  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.slider__slide-item {
  max-height: 1045px;
  animation: icey 2.5s infinite;
}


.slider__info {
  position: absolute;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  bottom: 40%;
  margin: 0;
  width: 670px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__button {
  background: linear-gradient(0deg, #E74A35, #F26843);
  box-shadow: 0px 2px 2px rgba(172,16,0,0.64);
  width: 282px;
  border: none;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: white;
  border-radius: 66px;
  padding: 11px 0;
  cursor: pointer;
  position: absolute;
  bottom: 266px;
  left: 50%;
  transform: translateX(-50%);
  &--second {
    bottom: 244px;
  }
  &--third {
    bottom: 239px;
  }
}

.slider__controls {
  position: absolute;
  top: 580px;
  list-style: none;
  font-size: 0;
  display: flex;
  width: 82px;
  justify-content: space-between;
  padding: 0;
}

.slider__controls-item {
  &--1,&--2,&--3 {
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
    transition: ease-in-out .2s;
  }
  &--current {
    background-color: white;
  }
}