@import "fonts.scss";
@import "blocks/pageheader.scss";
@import "blocks/pagefooter.scss";
@import "blocks/nav.scss";
@import "blocks/slider.scss";
@import "blocks/pagemain.scss";
@import "blocks/advantages.scss";
@import "blocks/extrainfo.scss";
@import "blocks/subscribe.scss";
@import "blocks/social.scss";
@import "blocks/info.scss";
@import "blocks/developer.scss";
@import "blocks/pagefooter.scss";

.body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  color: white;
  transition: ease-in-out .2s;
  &--grey {
    background-color: #849D8F;
  }
  &--violet {
    background-color: #8996A6;
  }
  &--pink {
    background-color: #9D8B84;
  }
}

.container {
  max-width: 1200px;
  padding: 0 27px;
  box-sizing: border-box;
  margin: 0 auto;
}